header.main {
  width: 100%;
  background-image: url('/images/header-bg.png');
  color: $white;
  padding: 15px 15px 0px 15px;
  @include flexbox;
  @include flex-direction(column);

  .avatar {
    min-width: 120px;
    min-height: 120px;
    border-radius: 100%;
    border: 2px solid $white;
  }

  .name {
    margin-top: 15px;
  }

  .intro {
    max-width: 420px;
    font-size: 0.8em;
  }

  a, a:visited {
    color: $white;
    &:hover { color: darken($white, 25%) }
  }


}

@media screen and (min-width: $break-mobile) {
  header.main {
    @include align-items(center);
    width: 250px;
    height: 100%;
    position: fixed;
    padding-top: 75px;
    background-image: url('/images/sidebar.jpg');
    background-size: cover;
  }
}

@media screen and (max-width: $break-mobile) {
  header.main {
    @include align-items(center);
    @include justify-content(center);
  }
}
