<header class="bb b--black-30 pa5 w-100 w-70-ns center dark-gray">
  <div class="header-title flex flex-column flex-row-l items-start">
    <div class="flex flex-column w-30 justify-center">
      <img class="flex avatar br-100 w4 h4 mt4 dib" src="https://s.gravatar.com/avatar/87ce292e0c8bec032c840fde92db183d?s=240" />

      <p>
        <a class="link dim blue" href="https://twitter.com/jmccnz">@jmccnz</a> |
        <a class="link dim near-black" href="https://github.com/jamesmccann">Github</a>
      </p>
    </div>

    <div class="measure-wide">
      <h1 class="f2 lh-solid fw6">James McCann</h1>
      <h2 class="f3 lh-title fw6">I'm a software engineer and freelancer working remotely from Gisborne, New Zealand.</h2>

      <p class="f6 lh-copy">
        I’m currently working for <a class="link dim blue" href="https://www.consumer.org.nz">Consumer New Zealand</a> building
        <a class="link dim blue" href="https://www.powerswitch.org.nz">Powerswitch</a>. I work remotely and love it.
      </p>

      <p class="f6 fw6 lh-copy">I'm available for remote work from New Zealand or local work in Amsterdam from August.

      <a class="link dim blue" href="mailto:jmccnz@gmail.com">Want to chat? Send me an email!</a></p>
    </div>
  </div>
</header>
