<header class="mt5 mh5">
  <div>
    <p class="mb1">Hey 👋, I'm James</p>
    <p class="ma0">
      <span>Twitter <a class="link dim blue dib pr2" href="https://twitter.com/jmccnz">@jmccnz</a></span>
      <span>GitHub <a class="link dim blue dib pr2" href="https://github.com/jamesmccann">@jamesmccann</a></span>
    </p>

    <nav class="mt3">
      <ul class="flex list ma0 pa0">
        <li class="mr3 pa1 pb2 bg-black white bb b--white">Posts</li>
        <li class="mr3 pa1 pb2 bg-black white">About</li>
      </ul>
    </nav>
  </div>
</header>
