<header class="bb b--black-30 w-100 w-70-ns pa3 center dark-gray">
  <div class="header-title flex items-center justify-between">
    <a class="flex items-center link near-black" href="/">
      <img class="flex avatar br-100 w2 h2 dib mr2" src="https://s.gravatar.com/avatar/87ce292e0c8bec032c840fde92db183d?s=240" />
      <h1 class="f4 lh-solid fw6 mr4">James McCann</h1>
    </a>

    <div>
      <a class="f6 fw6 link dim near-black mr2" href="/">Articles</a>
      <a class="f6 link dim mid-gray mh2" href="mailto:jmccnz@gmail.com">jmccnz@gmail.com</a>
      <a class="f6 link dim blue mh2" href="https://twitter.com/jmccnz">@jmccnz</a>
    </div>
  </div>

  <div class="header-contact flex items-center justify-between">
    <h2 class="f6 fw6 lh-solid dark-red">I'm available for work in Amsterdam starting August</h2>

    <div>
    </div>
  </div>
</header>
