<header class="bb b--black-30 pa5 w-100 w-70-ns center dark-gray">
  <div class="header-title flex flex-column flex-row-l items-start">
    <!-- l -->
    <div class="dn flex-l flex-column w-40 items-center justify-center ph4-l">
      <img class="flex avatar br-100 dib" src="https://s.gravatar.com/avatar/87ce292e0c8bec032c840fde92db183d?s=320" />

      <p class="mt3">
        <a class="link dim blue dib pr2" href="https://twitter.com/jmccnz">Twitter</a>
        <a class="link dim blue dib pr2" href="https://github.com/jamesmccann">Github</a>
        <a class="link dim blue dib pr2" href="/images/jamesmccann_cv.pdf">CV</a>
      </p>
    </div>

    <!-- s/m -->

    <div class="measure-wide">
      <div class="dn-l flex w-30 items-center justify-center">
        <img class="flex avatar br-100 dib" src="https://s.gravatar.com/avatar/87ce292e0c8bec032c840fde92db183d?s=320" />
      </div>

      <h1 class="f2 lh-solid fw6">James McCann</h1>
      <h2 class="f3 lh-title fw6">I'm a software engineer working in Amsterdam.</h2>

      <p class="f6 lh-copy">
        I’m currently working for <a class="link dim blue" href="https://www.consumer.org.nz">Consumer New Zealand</a> building
        <a class="link dim blue" href="https://www.powerswitch.org.nz">Powerswitch</a>. I work remotely and love it.
      </p>

      <p class="f6 fw6 lh-copy">I'm available for local or remote work in Amsterdam from September.

      <a class="link dim blue" href="mailto:jmccnz@gmail.com">Want to chat? Send me an email!</a></p>

      <p class="db dn-l mt3">
        <a class="link dim blue dib pr2" href="https://twitter.com/jmccnz">Twitter</a>
        <a class="link dim blue dib pr2" href="https://github.com/jamesmccann">Github</a>
        <a class="link dim blue dib pr2" href="/images/jamesmccann_cv.pdf">CV</a>
      </p>
    </div>
  </div>
</header>
