$black: #000000;
$white: #FFFFFF;

$background-color: #fdfdfd;

$grey:       #828282;
$light-grey: lighten($grey, 40%);
$dark-grey:  darken($grey, 25%);

$body-color: $dark-grey;
$body-strong-color: $black;

$link-color: $light-grey;
$link-color-active: $dark-grey;
