body {
  @include flexbox;
  @include flex-direction(column);
}

main {
  padding: 15px;
}

ul.post-list {
  list-style-type: none;

  li {
    margin-bottom: $spacing-unit/2;
  }
}

@media screen and (min-width: $break-mobile) {
  body {
    @include flex-direction(row);
  }

  main {
    margin-left: 250px;
  }
}
